lessons/phugoid/.ipynb_checkpoints/*checkpoint.ipynb
hw/.ipynb_checkpoints/*checkpoint.ipynb
hw/*/.ipynb_checkpoints/*checkpoint.ipynb
02_traffic/.ipynb_checkpoints/*checkpoint.ipynb
HomeWork/.ipynb_checkpoints/*checkpoint.ipynb
lessons/03_wave/traffic.pyc
